_form.html.erb
<!-- app/views/articles/_form.html.erb -->
<%= simple_form_for(hairstyle) do |f| %>
  <!-- [...] -->
 <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <!-- [...] -->
  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <div class="form-inputs">
    <%= f.input :category, collection: ["Braids", "Relaxed", "Natural", "Weave"] %>
  </div>

  <div class="form-inputs">
    <%= f.input :video_url%>
  </div>

  <div class="form-inputs">
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

    <div class="form-actions">
    <%= f.button :submit, label: "Submit Form", class: "btn btn-primary"  %>
  </div>
<% end %>

