
<div class="container">
  <div>
    <%= cl_image_tag @hairstyle.photo, width: 300, height: 200, crop: :fill %>
    <h1><%= @hairstyle.name %></h1>
    <p><%= @hairstyle.description%></p>
    <p><%= @hairstyle.category%></p>
    <p><%= @hairstyle.video_url %></p>
    <p><b>Contact Stylist:</b> <%= @hairstyle.stylist %></p>

  </div>
</div>
 <div>
    <%= link_to 'Back', hairstyles_path %>
    <!-- pundit authorisation policy-->
    <% if policy(@hairstyle).edit?%>
    <%= link_to 'Edit', edit_hairstyle_path %>
    <% end %>
 </div>




<h6>Comments for: <%= @hairstyle.name %> <small><%= %></small></h6>
<h2>
  <%= pluralize @hairstyle.comments.size, "comment" %>
</h2>

<div id="comments">
  <% if @hairstyle.comments.blank? %>
    Be the first to leave a comment for <%= @hairstyle.name %>
  <% else %>
    <% @hairstyle.comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  <% end %>
</div>

<%= render 'comments/form', hairstyle: @hairstyle, comment: @comment %>
